head,
body {
    padding: 0;
    margin: 0;
}
*{
    font-family: "Open Sans";
}
@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Light.ttf");
}
.logo h1 {
    font-size: 28px;
    display: inline;
    color: #000;
}

.logo a {
    text-decoration: none;
}

.logo p {
    display: inline;
    font-size: 22px;
    color: #000;
}

.logo::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: blue;
    margin-top: 7px;
    margin-right: 10px;
}

.logo {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    padding: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
}

nav ul li:last-child {
    padding-right: 0;
}

nav ul li a:hover {
    color: blue;
}

nav ul li a:active {
    color: blue;
}

.container {
    margin-left: 200px;
    margin-right: 200px;
}

.mainPart .container .row {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

.mainPart .container .row .col {
    width: 100%;
}

.myProfile {
    border: 1px solid #F4ECE6;
    background-color: #F4ECE6;
    padding: 40px 80px;
    position: absolute;
    top: 32%;
    left: 30%;
}

.myProfile img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.myProfile h1 {
    font-size: 27px;
    text-align: center;
}

.myProfile hr {
    width: 40px;
    background-color: rgb(207, 61, 61);
}

.myProfile p {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
}

.background-color::before {
    content: "";
    width: 40%;
    height: 100vh;
    position: absolute;
    top: 13%;
    left: 0;
    background-color: rgb(230, 218, 206);
}

.socialMedia {
    font-size: 20px;
    padding-left: 20px;
}

.moreInfo {
    position: relative;
    top: 35%;
    left: 5%;
}

.moreInfo h1 {
    font-size: 80px;
}

.info {
    font-size: 28px;
}

.myInfo {
    width: 50%;
}

.resume {
    text-decoration: none;
    color: #fff;
    border: 1px solid #0050FF;
    background-color: #0050FF;
    padding: 7px 35px;
    border-radius: 30px;
}

.resume:hover {
    background-color: #fff;
    color: #000;
    border-width: 2px;
}

.project {
    text-decoration: none;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    padding: 7px 35px;
    border-radius: 30px;
}

.project:hover {
    border-color: #0050FF;
    background-color: #0050FF;
    color: #fff;
}

/* footer */
footer {
    background-color: #fff;
    padding: 50px 50px 0 50px;
    position: absolute;
    top: 100%;
    width: 90%;
}

footer .row {
    display: flex;
    justify-content: space-between;
}

footer .row .col .new_row {
    display: flex;
}

footer .row .col .new_row .column {
    padding-left: 40px;
}

h3 {
    padding-right: 20px;
    font-size: 14px;
    text-align: center;
}

i {
    padding-left: 7px;
}

@media only screen and (max-width: 767px) {
    header ul {
        display: block;
    }

    .container {
        margin-left: 5px;
        margin-right: 5px;
    }

    .mainPart .container .row {
        display: block;
    }

    .background-color::before {
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 35%;
        left: 0;
    }

    .myProfile {
        position: absolute;
        top: 22%;
        left: 7%;
    }

    .myProfile p {
        display: none;
    }

    .moreInfo {
        position: absolute;
        top: 78%;
        left: 10%;
    }

    .moreInfo h1 {
        font-size: 35px;
    }

    .info {
        font-size: 20px;
    }

    .myInfo {
        width: 90%;
    }

    footer {
        margin-top: 215px;
        padding: 10px;

    }

    form .row {
        display: block;
    }

    footer .row {
        display: block;
    }

    footer .row .col .new_row {
        display: block;
    }

    footer .row .col h3 {
        text-align: left;
    }

    .resume a {
        position: absolute;
        top: 50%;
    }
}